.hidden {
	display: none;	
}

.preloader {
	height: 100px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.article-card {
	height: 140px;
}

@media only screen and (max-width: 992px){
	.article-card {
		height: 160px;
	}
}

@media only screen and (max-width: 600px){
	.article-card {
		height: auto;
	}
}